* {
  box-sizing: border-box;
}

p {

  font-weight: 700;
  font-family: "LXGW WenKai Mono TC", monospace;

}

h4 {
  line-height: 2.2rem;
  font-weight: 400;

  font-family: "LXGW WenKai Mono TC", monospace;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.navbar {
  background-color: #513518;
  color: white;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.aa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #efebe2;
}



.icons {
  width: 40px;
  height: 40px;
}

.container {
  background-color: #DDCDC3;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.product-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.product-image-container h1 {
  font-size: 24px;
  margin: 5px 0;
  font-family: "LXGW WenKai Mono TC", monospace;
}

.product-image-container .price {
  font-size: 20px;
  color: #6a983c;
  margin: 5px 0;
}

.product {
  display: flex;
  flex-direction: row;
  /* 內容左右排列 */
  background-color: #efebe2;
  gap: 80px;
  padding: 50px;
  padding-left: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.product-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-right: 20px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "LXGW WenKai Mono TC", monospace;
}

.product-details .price {
  font-size: 20px;
  color: #6a983c;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 20px;
}

.options p {
  font-size: 22px;
  margin: 10px 0;
  font-family: "LXGW WenKai Mono TC", monospace;
}

.options button {
  padding: 5px 15px;
  margin: 5px;
  background: #b5b1b1;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-family: "LXGW WenKai Mono TC", monospace;
}

.options button.selected {
  background-color: #6a983c;
  color: white;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity button {
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  background: #b5b1b1;
  cursor: pointer;
}

.quantity input {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}





.reviews {
  background-color: #efebe2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reviews h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "LXGW WenKai Mono TC", monospace;
}

.rating span {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.2s;
}

/* 左右間距 */
.reviews-container {
  display: flex;
  gap: 20px;
  /* 左右間距 */
}

.rating-section,
.comments-section {
  flex: 1;
  /* 左右各占一半寬度 */
}

.rating-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* 評分項目間的間距 */
}

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 1px;
  /* 評論間距 */
}

.comment {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  /* 下方的分隔線 */
}

textarea {
  width: 95%;
  height: 350px;
  resize: none;
  /* 禁止調整大小 */
}

.submit {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  width: 95%;
  color: white;
  cursor: pointer;

}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #f6a200;
  /* 按鈕懸停時的顏色 */
}

.related-products {
  background-color: #efebe2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.related-products h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  gap: 20px;
}

.card {
  background: #fdf7f3;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.card-img-top {
  min-width: 250px;
  width: 250px;
  min-height: 250px;
  height: 250px;
  border-radius: 10px;
}

.card-body {
  margin-top: 10px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 20px;
  color: #6a983c;
}

.favorite {
  margin-top: 10px;
  font-size: 20px;
  color: red;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  /* 按鈕靠左 */
  align-items: center;
  /* 垂直居中 */
  gap: 25px;
  margin-top: 20px;
}


.star {
  color: gold;
}


/* 加入購物車*/
.new-version {
  position: fixed;
  bottom: 20px;
}

.new-version a {
  color: #2bd156;
  text-decoration: none;
}


/* 加入購物車*/
.page-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*購物車按鈕*/
.page-wrapper button {
  margin: auto;
  padding: 15px;
  border: none;
  background: #dcc847;
  position: relative;
  outline: none;
  border-radius: 5px;
  color: white;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-size: 18px;
}

.page-wrapper button .cart-item {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
}

.page-wrapper button .cart-item:before {
  content: "+";
  display: block;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: 600;
  background: #2bd156;
  color: white;
  border-radius: 20px;
  text-align: center;
}

/* 位置*/
.page-wrapper button.sendtocart .cart-item {
  display: block;
  animation: xAxis 1s forwards cubic-bezier(1, 0.8, 0.84, 2);
}

.page-wrapper button.sendtocart .cart-item:before {
  animation: yAxis 1s alternate forwards cubic-bezier(0.3, 0.84, 0.6, 3.0);
}

.cart {
  position: relative;
  /* 從 absolute 改為 relative */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -5px;
  /* 微調位置 */
  right: -5px;
  /* 微調位置 */
  background: #2bd156;
  line-height: 16px;
  padding: 0 5px;
  height: 16px;
  min-width: 16px;
  color: white;
  text-align: center;
  border-radius: 50%;
}




.cart.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
  }
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}




/*heart*/

.pages-wrapper button .heart-item {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
}

.pages-wrapper button .heart-item:before {
  content: "❤️";
  display: block;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: 600;
  background: #c92626;
  color: white;
  border-radius: 20px;
  text-align: center;
}


.pages-wrapper button {
  padding: 15px;
  border: none;
  background: #7d136d;
  position: relative;
  top: 40%;
  outline: none;
  border-radius: 5px;
  color: white;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-size: 18px;

}

/*heart 位置*/

.pages-wrapper button.sendtocart .heart-item {
  display: block;
  animation: xAxis 1s forwards cubic-bezier(1, 0.8, 0.84, 1.6);
}

.pages-wrapper button.sendtocart .heart-item:before {
  animation: yAxis 1s alternate forwards cubic-bezier(0.3, 0.84, 0.6, 2.0);
}

.heart {
  position: relative;
  /* 從 absolute 改為 relative */
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -5px;
  right: -5px;
  background: #a4305a;
  line-height: 16px;
  padding: 0 5px;
  height: 16px;
  min-width: 16px;
  color: white;
  text-align: center;
  border-radius: 50%;
}

.heart.shake {
  animation: shakeHeart 0.6s ease-in-out forwards;
}

@keyframes shakeHeart {
  25% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}




@media (max-width: 768px) {
  .product {
      flex-direction: column; /* 改為上下排列 */
      align-items: center; /* 居中 */
      gap: 20px; /* 增加間距 */
      padding: 20px;
  }

  .product-image {
      width: 200px; /* 縮小圖片寬度 */
      height: 200px;
  }

  .product-details {
      text-align: center; /* 文字居中 */
  }

  .product-details .options button {
      display: block; /* 每個按鈕獨占一行 */
      width: 100%; /* 滿版按鈕 */
      margin: 5px 0;
  }

  .quantity {
      flex-direction: column; /* 垂直排列數量調整區域 */
      gap: 10px;
  }

  .quantity button {
      width: 100%;
  }

  .button-container {
  display: flex; /* 水平排列 */
  justify-content: space-between; /* 按鈕左右對齊 */
  align-items: center; /* 垂直居中 */
  gap: 20px; /* 按鈕間距 */
  margin-top: 20px;
}

.button-container button {
  flex: 1; /* 按鈕平分可用空間 */
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 每個選項區塊的間距 */
  margin-bottom: 20px;
}

.sweetness,
.ice {
  display: flex; /* 水平排列按鈕 */
  justify-content: space-between; /* 按鈕均分排列 */
  gap: 10px; /* 按鈕之間的間距 */
}

.sweetness button{
  flex: 1; 
  width: 30%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.ice button {
flex: 1; 
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;


}

  }


@media (max-width: 768px) {
  .related-products .product-grid {
      justify-content: center; /* 居中對齊 */
      gap: 20px; /* 卡片間距 */
  }

  .card {
      max-width: 48%;
      box-sizing: border-box;
  }

  .card-img-top {
      max-width: 140px;
  }

}

@media (max-width: 768px) {
  .related-products .product-grid {
      flex-wrap: wrap; /* 啟用換行 */
      justify-content: center; /* 居中對齊 */
      gap: 20px; /* 卡片間距 */
  }

  .card {
    width: 30%;
    min-height: 35%;
}

  .card-img-top {
      min-width: 140px; /* 圖片隨卡片大小縮放 */
      min-height: 35px;
  }
}





