h1 {
    font-size: 25px;
    color: black;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ddcdc3;
    font-family: "LXGW WenKai Mono TC", monospace;
}



header {
    background-color: #3D281c;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    margin: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.div1 {
    text-align: center;
    margin-left: 48px;
    margin-bottom: 30px;
}


.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 50px;

}

.site .site2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-items: center;
    align-items: start;
}

.site .site2 ul {
    text-align: left;
    letter-spacing: 3px;

}


/****************************************************/

section h2 {
    color: #928c80d5;
    margin-top: 0;
}

section img {

    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

section p {
    color: #555;
    font-family: "LXGW WenKai Mono TC", monospace;
}


.advanced-yoga,
.beginner-yoga {
    background-color: #f4ece6;
    margin: 20px;
}

body {
    overflow-x: hidden;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    font-family: "LXGW WenKai Mono TC", monospace;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
}

.main-nav a {
    background-color: #b1aeaeda;
    display: block;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    color: #1a0c04;
    text-transform: uppercase;
    font-size: 23px;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: #cbb4a8;
    color: #fff;
}