.title {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: black;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #928c80d5;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

main {

    padding: 20px;


}

section {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

section h2 {
    color: #928c80d5;
    margin-top: 0;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

section p {
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #928c80d5;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    main {
        max-width: 800px;
        margin: 0 auto;
    }
}